<div class='flex flex-col mt-6'>
  <div class='-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8'>
    <div class='inline-block min-w-full py-2 align-middle md:px-6 lg:px-8'>
      <div class='overflow-hidden border border-gray-200 md:rounded-lg'>
        <table class='min-w-full divide-y divide-gray-200'>
          <thead class='bg-gray-50'>
            <tr>
              <th scope='col' class='py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500'>
                ID
              </th>
              <th scope='col' class='px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500'>
                DateTime
              </th>
              <th scope='col' class='px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500'>
                League
              </th>
              <th scope='col' class='px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500'>
                Round
              </th>
              <th scope='col' class='px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500'>
                Home Team
              </th>
              <th scope='col' class='px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500'>
                Away Team
              </th>
              <th scope='col' class='px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500'>
                Created at
              </th>
              <th scope='col' class='relative py-3.5 px-4'>
                <span class='sr-only'>View</span>
              </th>
            </tr>
          </thead>
          <tbody class='bg-white divide-y divide-gray-200'>
            <% @fixtures.each do |fixture| %>
              <tr>
                <td class='px-4 py-4 text-sm font-medium whitespace-nowrap text-left'>
                  <div>
                    <p class='text-sm font-normal text-gray-600'><%= fixture.id %></p>
                  </div>
                </td>
                <td class='px-4 py-4 text-sm whitespace-nowrap text-left'>
                  <div>
                    <p class='text-gray-500'><%= fixture.datetime %></p>
                  </div>
                </td>
                <td class='px-4 py-4 text-sm whitespace-nowrap text-left'>
                  <div>
                    <p class='text-gray-500'><%= fixture.round.league.name %></p>
                  </div>
                </td>
                <td class='px-4 py-4 text-sm whitespace-nowrap text-left'>
                  <div>
                    <p class='text-gray-500'><%= fixture.round.name %></p>
                  </div>
                </td>
                <td class='px-4 py-4 text-sm whitespace-nowrap text-left'>
                  <div>
                    <p class='text-gray-500'>
                      <%= fixture.away_team.name %>
                      <img src='<%= fixture.away_team.logo %>' width='32px' height='32px'>
                    </p>
                  </div>
                </td>
                <td class='px-4 py-4 text-sm whitespace-nowrap text-left'>
                  <div>
                    <p class='text-gray-500'>
                      <%= fixture.home_team.name %>
                      <img src='<%= fixture.home_team.logo %>' width='32px' height='32px'>
                    </p>
                  </div>
                </td>
                <td class='px-4 py-4 text-sm whitespace-nowrap text-left'>
                  <div>
                    <p class='text-gray-500'><%= fixture.created_at %></p>
                  </div>
                </td>
                <td class='px-4 py-4 text-sm whitespace-nowrap text-center'>
                  <div>
                    <p class='font-medium text-blue-600 hover:underline'><%= link_to 'View', admin_fixture_path(fixture.id) %></p>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
