<div class='px-4 sm:px-0'>
  <h3 class='text-base font-semibold leading-7 text-gray-900'>Team Information</h3>
  <p class='mt-1 max-w-2xl text-sm leading-6 text-gray-500'>Team details and information.</p>
</div>
<div class='mt-6 border-t border-gray-100'>
  <dl class='divide-y divide-gray-100'>
    <div class='px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0'>
      <dt class='text-sm font-medium leading-6 text-gray-900'>Name</dt>
      <dd class='mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0'><%= @team.name %></dd>
    </div>
    <div class='px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0'>
      <dt class='text-sm font-medium leading-6 text-gray-900'>Logo</dt>
      <dd class='mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0'>
        <img src='<%= @team.logo %>' width='32px' height='32px'>
      </dd>
    </div>
    <div class='px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0'>
      <dt class='text-sm font-medium leading-6 text-gray-900'>Code</dt>
      <dd class='mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0'><%= @team.code %></dd>
    </div>
    <div class='px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0'>
      <dt class='text-sm font-medium leading-6 text-gray-900'>Adapters</dt>
      <dd class='mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0'><%= @team.adapters %></dd>
    </div>
    <div class='px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0'>
      <dt class='text-sm font-medium leading-6 text-gray-900'>Created at</dt>
      <dd class='mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0'><%= @team.created_at %></dd>
    </div>
  </dl>
</div>
