<!DOCTYPE html>
<html lang='en' class='h-full'>
  <head>
    <title>Quinielas deportivas | picks.games</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <meta name='HandheldFriendly' content='True'>
    <meta name='description' content='¡Quinielas deportivas gratis y fácil de jugar!'>
    <meta name='keywords' content='quiniela, apuesta, pronosticos, deportes, futbol, partidos, liguilla, liga mx, eurocopa, copa america, mexico, méxico'>
    <meta name='author' content='juan@tldr.mx'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload' %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>

    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png'>
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png'>
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png'>
    <link rel='manifest' href='/site.webmanifest'>
  </head>

  <body class='font-inter antialiased bg-white text-slate-800 tracking-tight'>
    <div class='flex flex-col min-h-screen overflow-hidden'>
      <%= yield %>
    </div>
  </body>

  <script async src='https://www.googletagmanager.com/gtag/js?id=G-HGCW13Z3DR'></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-HGCW13Z3DR');
  </script>
</html>
